<!doctype html>
<html>
  <head>
    <title>Munchy Gourmet</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
  integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
  crossorigin="">
  </script>
  </head>

  <body>
    <h1> Munchy Gourmet</h1>
    <p>
      <strong>Navigation:</strong> 
        <a href="/show">Home</a> 
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </p>

  {% if session.username %}
   <p>Logged in as {{ session.username }}</p>
  {% endif %}


    {% block content %}{% endblock %}
    <p>&copy; Yum Yum</p>
  </body>
</html>