{% extends "layout.html" %}

{% block content %}
		<h1>Shop: {{detail[0]['reco']['shopName']}}</h1>

		<div> 
			
					<p>
					name:{{ detail[0]['reco']['shopName'] }}<br>
					add:{{ detail[0]['reco']['SDAddress']}},<br>
					lat:{{ detail[0]['reco']['latitude'] }},<br>
					lon:{{ detail[0]['reco']['longitude'] }}<br>
					SDRate:{{ detail[0]['reco']['SDRate']}}<br>
					category:{{ detail[0]['cat']}}<br>
					price:{{ detail[0]['reco']['price']}}<br>
					telephone:{{detail[0]['reco']['SDTelephone']}}<br>
					reviewCount:{{detail[0]['reco']['reviewCount']}}<br>
					 </p> 



		 </div>

		<div>
			<h1> You might like(relating restaurant here):</h1>
				{% for row in relating %}
					<p>
					name:{{ row['reco']['shopName'] }},
					add:{{ row['reco']['SDAddress']}},
					lat:{{ row['reco']['latitude'] }},
					lon:{{ row['reco']['longitude'] }},
					SDRate:{{ row['reco'['SDRate']] }}
					cat:{{ row['cat']}},
					distance:{{ row['distance'] }}
					<a href="{{ url_for('res_detail', shopId=row['reco']['shopId']) }}">detail</a>
					 </p> 
				{% endfor %}


		</div>
{% endblock %}